@import "../../scss/index.scss";

.products {
  padding: 3rem 0;
  &__container {
    @include _1024 {
      padding: 0 14rem;
    }
  }
  &__search {
    width: 100%;
    position: relative;
    height: fit-content;
    @include _375 {
      max-width: 32rem;
    }
    img {
      width: 1.2rem;
      height: 1.2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }
    .delete_value_input {
      width: 2rem;
      height: 2rem;
      right: 1rem;
      left: inherit;
      cursor: pointer;
      opacity: 1;
      transition: 0.3s opacity;
      &:hover {
        opacity: 0.7;
      }
    }
    input {
      width: 100%;
      border-radius: 0.8rem;
      border: 1px solid #f3f3f3;
      padding: 1.2rem 3.5rem 1.2rem 3rem;
      &::placeholder {
        text-transform: uppercase;
      }
    }
  }
  &__title {
    font-size: 2.5rem;
    line-height: 100%;
    @include _1024 {
      font-size: 3rem;
    }
  }

  &__wrapper {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    &:not(:last-child) {
      margin: 0 0 2rem;
    }
    &.jc_sb {
      justify-content: space-between;
      align-items: center;
      h1 {
        flex: 0 0 auto;
      }
      @include _375 {
        flex-wrap: nowrap;
      }
    }
  }

  &__block {
    padding: 2rem;
    width: 100%;
    border-radius: 2rem;
    border: 1px solid #f3f3f3;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover {
      box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
      transform: translateY(-0.5rem);
    }
    @include _480 {
      width: calc(calc(100% - 2rem) / 2);
    }
    @include _768 {
      width: calc(calc(100% - 3rem) / 3);
    }

    &_img_product {
      max-width: 13.3rem;
      max-height: 11.2rem;
      margin: 0 auto 2rem;
    }

    &_name {
      font-size: 1.4rem;
      line-height: 120%;
      margin: 0 0 1.5rem;
    }

    &_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_price {
      font-size: 1.4rem;
      line-height: 120%;
      font-weight: bold;
      span {
        font-weight: 400;
        margin: 0 0 0.5rem;
        color: $grey;
        display: block;
      }
    }
  }
}
